services:

  python:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app
    volumes:
      - .:/app
    env_file:
     - .env
    ports:
      - "${PORT_CONTAINER}:8000"
    container_name: python
    image: python
    # command: tail -f /dev/null
