version: "3.8"

services:

  python:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app
    volumes:
      - .:/app
    env_file:
     - .env
    ports:
      - "${PORT_CONTAINER}:${PORT_CONTAINER}"
    container_name: python
    image: python
